body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    /* Ao usar display flex em elementos parent, os elementos child se alinham automaticamente como colunas ou linhas com largura e altura automáticas. */
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* CSS FLEXBOX */
.parent {
    display: flex;
    /* Ao usar display flex em elementos parent, os elementos child se alinham automaticamente como colunas ou linhas com largura e altura automáticas. */
    justify-content: center;
    /* A propriedade justify-content define como o navegador distribui o espaço dos items no centro da tela */
}

.flex {
    display: flex;
    flex-wrap: wrap; 
    /* É uma propriedade flex que define se os itens flex são forçados em uma linha ou podem ser agrupados em várias linhas. Se o agrupamento for permitido, ele define a direção em que as linhas são empilhadas. */
    max-width: 800px;
    /* A propriedade max-width define a largura máxima de um elemento. Se o conteúdo for maior que a largura máxima, ele alterará automaticamente a altura do elemento. */
}

.flex > div {
    flex: 1 1 200px; 
    /* A propriedade abreviada flex CSS define como um item flex aumentará ou diminuirá para caber no espaço disponível em seu contêiner flex. */
    margin: 10px;
}